body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

.custom-heading {
    font-size: 3vw; /* Responsive font size using viewport width */
    font-family: cursive;
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 2px #000;
    max-width: 100%; /* Ensure the text doesn't overflow */
    word-wrap: break-word; /* Break long words to avoid overflow */
}

.background-image {
    position: relative;
    background-image: url('PSF.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.overlay {
    position: absolute;
    top: 10%;
    left: 10%;
    padding: 20px;
    background: rgba(18, 19, 18, 0.986);
    background-image: url('jjk.jpg');
    background-size: cover;
    background-position: center;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #fff;
    border-radius: 10px;
    overflow: auto; /* Make the content scrollable */
}

header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #a1ecb7;
    color: #a1ecb7;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0;
    animation: fadeIn 5s forwards;
}

/* Rest of your existing CSS styles remain unchanged */

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.logo {
    font-size: 1.5em;
}

.menu-toggle {
    cursor: pointer;
    display: none;
    transition: transform 5s ease-in-out;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
}

.nav-list {
    display: flex;
}

.nav-list ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-list li {
    margin-right: 20px;
    transition: margin 5s ease-in-out;
}

.nav-list a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 5s ease-in-out;
}

@media only screen and (max-width: 600px) {
    .menu-toggle {
        display: block;
    }

    .nav-list ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: rgba(0, 0, 0, 0.8);
        transition: transform 5s ease-in-out;
    }

    .nav-list.show ul {
        display: flex;
    }

    .nav-list li {
        margin: 0;
        text-align: center;
    }

    .menu-toggle.open {
        transform: rotate(90deg);
    }
}
